{% if section.settings["show-announcement"]  %}
<section>
    <div class="announcement-bar">
        <div class="announcement-bar-left-section">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | image_url }} " width="40" height="40" loading="lazy">
        {%  else %}
        <img src="{{ 'a.png' | asset_url }} " width="40" height="40" loading="lazy">

        {% endif %}
        {% if section.settings.image2 != blank %}
            <img src="{{ section.settings.image | image_url }} " width="40" height="40" loading="lazy">
          {%  else %}
          <img src="{{ 'b.png' | asset_url }} " width="40" height="40" loading="lazy">
  
          {% endif %}
        </div>
        <div class="announcement-bar-right-section">
 
        </div>
    </div>
</section>
{% endif %}

<style>
    .announcement-bar{
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
    }
</style>

{% schema %}
    {
        "name": "Announcement Bar",
        "settings": [{
            "type": "checkbox",
            "id": "show-announcement",
            "label": "Show Announcement",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Pick Image",
            "info": "Formato PNG es recomendado"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Pick Image",
            "info": "Formato PNG es recomendado"
        },
        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "info": "#F4F4F4"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "info": "#000000"
        }
         
    ],
        "presets": []
    } 
{% endschema %}